    table, th, td {
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: left; 
    }
    img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 300px;
    margin: auto;
    }
    tr td:first-child {
    width: 40%;
    text-align: center;
    }
    tr td:last-child {
    width: 60%;
    }
    

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
      }
      
      .item1 {
        grid-row-start: 1;
        grid-row-end: 3;
      }

      .item2 {
          grid-column-start: 2;
          grid-column-end: 4;
      }

      .item3 {
         grid-column-start: 2;
         grid-column-end: 4;
      }

      .item4 {
        grid-column-start: 1;
        grid-column-end: 4;
      }